<div class="destination text-center">
<h1> Previous Inquiries</h1>
</div>

<% @quote.each do |quote| %>
    <div class="booyah-box col-10  offset-1">
<b> Name: </b>
<%= quote.name %><br  /> 
<b> Destination: </b>
<%= quote.destination  %><br /><br />
<b> Cargo description: </b>
<p><%= quote.description %></p><br />
<% if quote.image_url %>
    <%= image_tag quote.image_url, class: 'img-fluid' %>
<% end %>
    <div class= "text-center">
      <%= link_to 'Edit', edit_quote_path(quote.id), class: 'btn btn-priamry' %>
      <%= link_to 'Destroy', quote_path(quote.id), method: :delete, data: {confirm: 'Are  you sure you want to delete this?'},class: 'btn btn_danger' %>   

    </div>
    </div>
<% end %>
