<h1> Get a  Quote </h1>


<%= simple_form_for @quote do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
    <%= f.input :destination %>
    <%= f.input :description %>
    <%= f.submit "Submit" %>
<%  end %>