

<br /> 
<div class=" text-center Submit">
 <h1> Add a destination </h1>
 </div>
 <div class="booyah-box col-10 offset-1 text-center">
    <%= simple_form_for @newdestinations, defaults: {required: false },  url: employee_destinations_path do |f| %>
<%# used  required to remove asteriks%>

        <%= f.input :destination %>
        <%= f.input :departure_date %> 
        <%= f.input :arrival_date %>
        <%= f.input :vessel_name %>
        <br />
        <%= f.submit "Create", class: 'btn btn-primary' %>
        <br />
    <% end  %> 
    <br />

    </div>
</div>
